<h1>Showing all articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Some Title</td>
      <td>Some Description</td>
      <td>Some Place Holder</td>
    </tr>
  </tbody>
</table>